---
step: 3
title: Is waste disposal your main activity?
---

<form class="form">

	<div class="radios">
		<div class="control"><input type="radio" name="page" value="3b.html" id="mainActivityYes"><label for="mainActivityYes">Yes, it's our main activity</label></div>
		<div class="control"><input type="radio" name="page" value="4.html" id="mainActivityNo"><label for="mainActivityNo">No, it's just part of our trade</label></div>
	</div>

	<p><input type="submit" class="button" value="Next"><p>
	<p><a href="#" class="back">Back</a></p>
</form>