---
step: 4
title: Business name and address
---

<form class="form">

	<div class="control">
  		<label for="ex2-name">Business or organisation trading name</label>
  		<input type="text" id="ex2-name">
	</div>
	<div class="js-address-finder">
	<div class="control">
  		<label for="ex2-street">Street address</label>
  		<input type="text" id="ex2-street">
	</div>
	<div class="control">
  		<label for="ex2-street2" class="visuallyhidden">Street address line 2</label>
  		<input type="text" id="ex2-street2">
	</div>
	<div class="control">
  		<label for="ex2-town">Town / City</label>
  		<input type="text" id="ex2-town">
	</div>
	<div class="control">
  		<label for="ex2-county">County (optional)</label>
  		<input type="text" id="ex2-county">
	</div>
	<div class="control">
  		<label for="ex2-county">Country</label>
  		<input type="text" id="ex2-county">
	</div>
	<div class="control">
  		<label for="ex2-postcode">Postcode</label>
  		<input type="text" id="ex2-postcode" class="postcode">
	</div>
</div>

<p><a class="button" href="4b.html">Next</a><p>
<p><a href="#" class="back">Back</a></p>

</form>