<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">Register as a waste carrier<span id="phase-tag">beta</span></a>
    </nav>
  </div>
</div>