---
title: What kind of business or organisation are you?
---

<form class="form" action="get">

	<div class="radios">
		<div class="control"><input type="radio" name="page" value="2.html" id="soleTrader"><label for="soleTrader">Sole trader</label></div>
		<div class="control"><input type="radio" name="page" value="2.html" id="partnership"><label for="partnership">Partnership</label></div>
		<div class="control"><input type="radio" name="page" value="2.html" id="limitedCompany"><label for="limitedCompany">Limited company</label></div>
		<div class="control"><input type="radio" name="page" value="2.html" id="publicBody"><label for="publicBody">Public body</label></div>
		<div class="control"><input type="radio" name="page" value="4.html" id="charity"><label for="charity">Charity or voluntary organisation</label></div>
		<div class="control"><input type="radio" name="page" value="4.html" id="collectionAuthority"><label for="collectionAuthority">Waste collection authority</label></div>
		<div class="control"><input type="radio" name="page" value="4.html" id="disposalAuthority"><label for="disposalAuthority">Waste disposal authority</label></div>
		<div class="control"><input type="radio" name="page" value="4.html" id="regulationAuthority"><label for="regulationAuthority">Waste regulation authority</label></div>
		<div class="control"><input type="radio" name="page" value="5.html" id="other"><label for="other">Other</label></div>
	</div>

	<p><input type="submit" class="button" value="Next"><p>

</form>