---
title: Do you ever deal with waste from other businesses or households?
---

<form class="form">
	<div class="horizontal radios">
		<div class="control"><input type="radio" name="page" value="3b.html" id="otherBusinessesYes"><label for="otherBusinessesYes">Yes</label></div>
		<div class="control"><input type="radio" name="page" value="3.html" id="otherBusinessesNo"><label for="otherBusinessesNo">No</label></div>
	</div>

	<p><input type="submit" class="button" value="Next"><p>
	<p><a href="#" class="back">Back</a></p>
</form>