---
title: Which types of waste do you transport regularly?
---

<p>Select all that apply.</p>

<form class="form" id="page-3b">

	<div class="checkboxes">
		<div class="control"><input type="checkbox" value="4.html" id="animalWaste"><label for="animalWaste">Waste from animal carcasses</label></div>
		<div class="control"><input type="checkbox" value="4.html" id="mineWaste"><label for="mineWaste">Waste from mines or quarries</label></div>
		<div class="control"><input type="checkbox" value="4.html" id="farmWaste"><label for="farmWaste">Farm or agricultural waste</label></div>
		<div class="control"><input type="checkbox" value="6.html" id="otherWaste"><label for="otherWaste">Other waste</label></div>
	</div>

	<p><input type="submit" class="button" value="Next"><p>
	<p><a href="#" class="back">Back</a></p>
</form>