<h1>
	<span>Register as a waste carrier</span>
Do you ever deal with construction or demolition waste?
</h1>

<form class="form">

	<fieldset>
		<!--<legend>3. Do you ever deal with construction or demolition waste?</legend>-->

		<div class="horizontal radios">
			<div class="control"><input type="radio" name="page" value="6.html" id="constructionWasteYes"><label for="constructionWasteYes">Yes</label></div>
			<div class="control"><input type="radio" name="page" value="4.html" id="constructionWasteNo"><label for="constructionWasteNo">No</label></div>
		</div>

	</fieldset>

	<p><input type="submit" class="button" value="Next"><p>
	<p><a href="#" class="back">Back</a></p>
</form>