<h1>Register as a waste carrier</h1>

<form class="form">

	<fieldset>
		<legend>3. What kind of waste do you deal with? </legend>

  		<p class="hint">Select all that apply.</p>

		<div class="checkboxes">
			<div class="control"><input type="checkbox" name="page" value="4.html" id="animal"><label for="animal">Animal by-products</label></div>
			<div class="control"><input type="checkbox" name="page" value="4.html" id="mine"><label for="mine">Waste from a mine or quarry</label></div>
			<div class="control"><input type="checkbox" name="page" value="4.html" id="farm"><label for="farm">Farm or agricultural waste</label></div>
			<div class="control"><input type="checkbox" name="page" value="6.html" id="other"><label for="other">Other waste</label></div>
		</div>

	</fieldset>

	<p><input type="submit" class="button" value="Next"><p>
	<p><a href="#" class="back">Back</a></p>
</form>