<h1>Register as a waste carrier</h1>

<h2>Contact the Environment Agency</h2>

<p>You will need to provide more information about your organisation before you can be registered as a waste carrier.</p>

<p>Telephone the Environment Agency on 03708 506 506 (Monday to Friday, 8am to 6pm).</p>

<p><a href="#" class="back">Back</a></p>