<h1>
	<span>Register as a waste carrier</span>
	Register on the Environment Agency website
</h1>

<p>You need to register as an 'upper tier' carrier, broker or dealer on the Environment Agency website.</p>

<p><a href="#" class="button">Start now</a></p>

<p>Or to apply by post, download and complete the <a href="">upper tier registration form [PDF, 180KB]</a></p>