<h1>
	<span>Register as a waste carrier</span>
	Check your details before registering
</h1>

<div class="check-details">
<h2>You told us</h2>
<ul>
	<li>You deal with waste from other businesses or households</li>
	<li>You regularly transport animal by-products and farm or agricultural waste</li>
	<li>You do not regularly transport any other waste</li>
</ul>
	<p class="edit-details"><a href="#">Edit these details</a></p>
</div>

<div class="check-details">
	<h2>Business or organisation address</h2>
	<p>
		WasteCo (Limited company)<br>
		Electra Business Park<br>
		Electra Way<br>
		Reading <br>
		RD4 6YT
	</p>
	<p class="edit-details"><a href="#">Edit these details</a></p>
</div>

<div class="check-details">
<h2>Contact details</h2>
<dl class="two-col">
	<dt>Name:</dt>	<dd>John Smith (Director)</dd>
	<dt>Tel:</dt> 	<dd>07656 345623</dd>
	<dt>Email:</dt>	<dd>j.smith@wasteco.co.uk</dd>
</dl>
	<p class="edit-details"><a href="#">Edit these details</a></p>
</div>



<div class="legal-alert">
	<p>I understand that:</p>
	<p>By submitting this registration I confirm that as far as I know, the information I have given above is true.</p>
	<p>I can be fined up to £5,000 if I give false or misleading information.</p>
</div>

<p>See the <a href="">privacy and cookies policy</a> to find out how the Environment Agency will use your information.</p>

<p><a href="8.html" class="button">Submit registration</a></p>


